export(getMutations, makeAlignedSuperStructure, quartCluster)
import(iPAC)
import(GraphPAC)
import(SpacePAC)
import(data.table)
importFrom(Biostrings, PhredQuality)
importFrom(pwalign, pairwiseAlignment, pattern, subject)
